/* none slider */
.tt-product .two_items:nth-child(2n+1),
.tt-product .three_items:nth-child(3n+1),
.tt-product .four_items:nth-child(4n+1),
.tt-product .six_items:nth-child(6n+1){
	clear: both;
}
/* general */
.row_items .product-layout{
	padding: 0px 10px 0px 0;
	margin: 30px 0;
}
.product-name{	
	font-size: 14px;	
	font-weight: 400;
	text-transform: capitalize;
	position: relative;
	margin: 0px 0 15px 0;
}
.product-name a:hover{
	color: #9acf6a !important;
}
.product-name a{
	color: #363f4d;
	line-height: 18px;
	display: inline-block;
}
.actions-link{
	text-align: center;
	position: absolute;
	top: 0;
	line-height: 1;
	right: 0;
}
.product-thumb:hover .actions-link{
	z-index: 0;
	opacity: 1;
}
.btn-compare span,
.btn-wishlist span{
	display: none;
}
.actions-link > button:not(:first-child){
	border-left: 1px solid #666666;
}
.btn-wishlist:hover{
	color: #9acf6a;
}
.btn-wishlist i{
	display: inline-block;
}
.btn-wishlist{
	background: none;
	border: none;
	box-shadow: none;
	color: #dedede;
	font-size: 20px;
	line-height: 20px;
	padding: 0;
}
.product-list .btn-compare,
.product-list .btn-quickview{
	margin-right: 8px;
}
.btn-cart,
.btn-compare,
.btn-quickview{
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #f2f2f2;
	border-radius: 100%;
	color: #bec2c7;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	border: none;
	box-shadow: none;
	padding: 0;
}
.btn-cart:hover,
.btn-compare:hover,
.btn-quickview:hover{
	background: #9acf6a;
	color: #fff !important;
}
.btn-compare span,
.btn-cart span,
.btn-quickview span{
	font-size: 0;
}
.qv-button-container{
	display: inline-block;
}
.btn-quickview{
	border: none;
	padding: 0;
}
.label-product{
	position: absolute;
	height: 22px;
	background: #9acf6b;
	border-radius: 3px;
	z-index: 1;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	line-height: 22px;
	top: 0px;
	padding: 0 12px;
}
.label-product + .label-product{
	top: 25px;
}
.label-product.l_sale{
	background: #ff812d;
}
.manufacture-product{
	display: none
}
.manufacture-product a{
	color: #999999;
	font-size: 12px;
	text-transform: capitalize;
	margin: 0 0 15px 0;
	line-height: 1;
}
.ratings{
	margin-bottom: 10px;
	line-height: 11px;
}
.ratings .rating-box .rating0{
	background-image: url("http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/rating0.png")
}
.ratings .rating-box .rating1{
	background-image: url("http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/rating1.png")
}
.ratings .rating-box .rating2{
	background-image: url("http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/rating2.png")
}
.ratings .rating-box .rating3{
	background-image: url("http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/rating3.png")
}
.ratings .rating-box .rating4{
	background-image: url("http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/rating4.png")
}
.ratings .rating-box .rating5{
	background-image: url("http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/rating5.png")
}
.ratings .text-rating{
	color: #a5a5a5;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.ratings .rating-box div[class^="rating"]{
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;	
	height: 11px;
}
.image > a{
	display: block;
}
.image{
	margin-bottom: 10px;
}
.image > a,
.image{
	position: relative;
}
.img-r{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.product-layout:hover .img-r + img{
	opacity: 0;
}
.product-layout:hover .img-r{
	opacity: 1;
	z-index: 0;
}
.price span{
	display: inline-block;
	line-height: 1;
}
.price{
	color: #9acf6a;
	margin: 0;
	font-weight: 500;
	font-size: 16px;
}
.price-tax{
	display: none !important;
}
.price-new{
	margin-right: 10px;
}
.price-old{
	color: #a4a4a4;
	text-decoration: line-through;
	font-weight: 400;
	font-size: 14px;
}
/* product grid */
.product-customize .product-thumb .ratings .rating-box div[class^="rating"],
.product-grid .product-thumb .ratings .rating-box div[class^="rating"]{
	background-position: center;
}
.product-customize .product-thumb .product-intro .actions-link2,
.product-grid .product-thumb .product-intro .actions-link2{
	float: left;
	margin-top: 3px;
}
.product-customize .product-thumb .product-intro .ratings,
.product-grid .product-thumb .product-intro .ratings{
	float: right;
	margin: 0;
}
.product-customize:hover .product-thumb .product-caption,
.product-grid:hover .product-thumb .product-caption{
	opacity: 0;
}
.product-customize:hover .product-thumb .product-intro,
.product-grid:hover .product-thumb .product-intro{
	background: #fff;
	z-index: 1;
	opacity: 1;
}
.product-customize .product-thumb .product-intro,
.product-grid .product-thumb .product-intro{
	padding: 0px 10px 0;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: -1;
	opacity: 0;
}
.product-customize .product-thumb .product-inner,
.product-grid .product-thumb .product-inner{
	position: relative;
	text-align: center;
}
/* porudcut list */
.list-style{
	padding: 15px 0;
}
.list-style:last-child{
	border: none;
	margin: 10px 0 0 !important;
}
.list-style{
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 10px 0 !important;
	padding: 0 !important;
}
.list-style{
	width: 100%;
	float: left
}
.list-style .ratings .rating-box div[class^="rating"]{
	background-position: left;
}
.list-style .actions-link{
	display: none;
}
.list-style .action-links{
	display: none;
}
.list-style .product-thumb{
	border: none !important;
	box-shadow: none !important;
}
.list-style .product-inner{
	width: 65%;
	float: left;
	padding: 10px 0 0 20px;
}
.list-style .product-name::before{
	left: 0;
	margin-left: 0;
}
.list-style .product-name{
	margin-bottom: 10px;
}
.list-style .image{
	width: 35%;
	float: left;
	padding: 0;
}
.product-list .ratings{
	margin: 15px 0 10px;
}
.product-list .ratings .rating-box div[class^="rating"]{
	margin: 0;
}
.product-list .ratings .text-rating{
	vertical-align: bottom;
	display: inline-block;	
	font-size: 14px;
}
.product-list .rating-box div[class^="rating"]{
	background-position: left center;
}
.product-list .product-name::before{
	left: 0;
	margin-left: 0;
}
.list-style .price{
	margin: 0;
}
.list-style.product-layout:hover img{
	opacity: 1;
}
.product-layout:hover img{
	opacity: 1;
}
.list-style.product-layout:hover .img-r{
	opacity: 1;
}
.list-style .actions-link2 .btn-cart,
.product-customize .actions-link2 .btn-wishlist,
.product-customize .actions-link2 .btn-compare{
	display: none;
}
/* category */
.custom-products .product-list .product-thumb .product-intro .btn-cart{
	width: auto;
	height: auto;
	float: left;
	margin-right: 10px;
	border-radius: 20px;
	color: #bec2c7;
}
.custom-products .product-list .product-thumb .product-intro .btn-cart i{
	display: none
}
.custom-products .product-list .product-thumb .product-intro .btn-cart span{
	display: block;
	line-height: 40px;
	height: 40px;
	font-size: 12px;
	font-weight: 500;
	
	text-transform: uppercase;
	padding: 0 45px;
}
.custom-products .product-list:last-child .product-thumb{
	border: none;
}
.custom-products .product-list .product-thumb:hover{
	box-shadow: none;
}
.custom-products .product-list .product-thumb{
	float: left;
	width: 100%;
	padding: 15px 0 40px;
	border: none;
	border-bottom: 1px solid #ebebeb;
}
.custom-products .product-layout.product-list{
	margin-top: 20px;
}
.custom-products .product-layout{
	margin-top: 30px;
}
.custom-products.custom-products-row{
}
.custom-products{
	/* margin: 0 -15px; */
}
.custom-products .per-sale,
.custom-products .price-tax,
.custom-products .product-grid .product-des{
	display: none;
}
.custom-products .product-list .price{
	margin-bottom: 25px;	
}
.custom-products .product-layout .product-thumb{
	padding: 0 10px;
}
.custom-products .product-layout{
	padding: 0;
}
.custom-products .label-product{
	left: 0px;
}
.custom-products .product-list .product-thumb .product-inner{
	padding: 0 0 20px 20px;
}
.custom-products .product-list .product-thumb .image{
	padding: 0 20px 0 0;
}
/* module product */
.tab-hoz .col-left-tabs .module-image img{
	border-right: 1px solid #ebebeb;
}
.tab-hoz .col-left-tabs{
	width: 37.1%;
	padding: 0;
	float: left;	
}
.tab-hoz .tt-product{
	width: 62.9%;
	float: left;
	padding: 0;
}
.tab-vertical .col-left-tabs{
	width: 18%;
	padding: 0;
	float: left;
}
.tab-vertical .tt-product{
	width: 82%;
	float: left;
}
.tt-product{
	padding: 0 0 0 10px;
}
.tab-vertical .module-image img{
	border-top: 1px solid #ebebeb;
}
.tab-vertical .module-image{
	margin: 0 -1px 0 -10px;
}
.tt_tabsproduct_module{
	clear: both;
	margin: 0 0px 40px;
	float: left;
	width: 100%;
	border: 1px solid #ebebeb;
}
.tab-vertical .tt-product{
	background: #fff;
}
.tab-vertical{
	background: #f9f9fb;
}
.tab-vertical .tab-heading{
	background: #f9f9fb;
	padding: 25px 25px 130px 25px;
	/* border-bottom: 1px solid #ebebeb; */
	/* border-left: 1px solid #ebebeb; */
	border-right: 1px solid #ebebeb;
}
.tabs-categories-3 .tab-heading{
	background: #f9f9fb url('http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/bg-tab-3.png') left bottom no-repeat;
}
.tabs-categories-2 .tab-heading{
	background: #f9f9fb url('http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/bg-tab-2.png') left bottom no-repeat;
}
.tabs-categories-1 .tab-heading{
	background: #f9f9fb url('http://demo.towerthemes.com/tt_furnilife/catalog/view/theme/tt_furnilife/stylesheet/opentheme/layoutproducts/image/bg-tab-1.png') left bottom no-repeat;
}
.tab-hoz .tab-heading li a{
	color: #363f4d;
}
.tab-heading li a{
	background: none !important;
	border-radius: 0;
	padding: 0;
	margin: 0;
	color: #7a7a7a;
	font-size: 14px;
	font-weight: 400;
}
.tab-heading li.active a:hover,
.tab-heading li.active a:focus,
.tab-heading li:hover a,
.tab-heading li.active a{
	color: #9acf6b;
}
.tab-hoz .tab-content{
	padding: 0 20px;
}
.tab-hoz .tab-heading{
	text-align: right;
	border-bottom: 1px solid #ebebeb;
	/* margin: 0 -15px; */
	padding-right: 15px;
}
.tab-heading li{
	list-style: none;
	cursor: pointer;
	float: none;
	margin: 0 !important;
	border-bottom: 1px solid #ebebeb;
	padding: 7px 0;
}
.tab-hoz .tab-heading li{
	display: inline-block;
	margin: 0 10px !important;
	border: none;
	max-height: 50px;
	padding: 15px 0;
}
.tab-products .tab-heading li.active a:hover,
.tab-products .tab-heading li.active a:focus,
.tab-products .tab-heading li:hover a,
.tab-products .tab-heading li.active a{
	color: #363f4d;
}
.tab-products .tab-heading li a{
	color: #c3c3c3;
	font-weight: 700;
	text-transform: uppercase;
}
.tab-products .tab-heading li:not(:last-child){
	border-right: 1px solid #ebebeb;
}
.tab-products .tab-heading{
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
}
.tab-products .tab-heading li{
	border: none;
	padding: 0 30px;
	display: inline-block;
}
.module-image:hover img{
	opacity: .8
}
.module-image{
	text-align: center;
}
/* responsive */
@media(max-width: 1024px){
	.list-style .product-inner{
		padding: 0 0 15px 0;
	}
	.tab-vertical .tt-product,
	.tab-vertical .col-left-tabs{
		width: 100%;
	}
	.tab-vertical .tab-heading{
		background-image: none;
		padding: 20px;
		border: none;
	}
	.tab-heading li{
		display: inline-block;
		padding: 0 10px;
		border: none;		
	}
}
@media(min-width: 992px){
	.custom-products .two-items:nth-child(2n+1),
	.custom-products .three-items:nth-child(3n+1),
	.custom-products .four-items:nth-child(4n+1){
		clear: both;	
	}
	.custom-products .product-grid .product-thumb{
		border-right: 1px solid #ebebeb;
	}
	.custom-products .product-grid{
		padding-bottom: 30px;
		border-bottom: 1px solid #ebebeb;
	}
	.custom-products .two-items:nth-child(2n) .product-thumb,
	.custom-products .three-items:nth-child(3n) .product-thumb,
	.custom-products .four-items:nth-child(4n) .product-thumb{
		border-right-color: transparent;
	}
}
@media(max-width: 991px){
	.custom-products .product-grid:nth-child(2n+1){
		clear: both;
	}
	.tab-hoz .col-left-tabs{
		width: 25%;
	}
	.tab-hoz .tt-product{
		width: 75%;
	}
}
@media(max-width: 767px){
	.tab-hoz .col-left-tabs{
		width: 30%;
	}
	.tab-hoz .tt-product{
		width: 70%;
	}
}
@media(max-width: 560px){	
	.custom-products .product-list .product-thumb .product-inner,
	.custom-products .product-list .product-thumb .image{
		width: 100%;
		padding: 0 0 20px 0;
	}
	.custom-products .product-list .product-thumb .product-inner{
		/* margin-top: 30px; */
	}
}
@media(max-width: 480px){
	.custom-products .product-list .product-thumb .product-intro .btn-cart span{
		padding: 0 30px;
	}
	.custom-products .product-layout.product-grid{
		width: 100%;
		border-right: transparent;
	}	
	.tab-hoz .tt-product,
	.tab-hoz .col-left-tabs{
		width: 100%;
	}
	.tab-hoz .tab-heading{
		text-align: center;
		padding: 0;
	}
}
